<div class="container containerclass">
    <div class="row">
        <div class="col-3" *ngFor="let producto of productos">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/{{producto.imagenes[0].ruta}}" alt="Card image" width="100%" height="300">
                <div class="card-body">
                  <h4 class="card-title">{{producto.nombre}}</h4>
                  <p class="card-text">{{producto.descripcion}}</p>
                  <p class="card-text"><strong>Precios</strong><br><strong>Unidad: </strong>{{producto.precioUnidad | currency: 'COP'}}</p>
                  <a href="#" class="btn btn-primary btn-color-secundario">Mas información</a>
                  <a [routerLink]="['/negocio', producto.id]" class="btn btn-primary btn-color-primario">Comprar</a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
