<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">¿Quienes Somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias</a>
          </li>
        </ul>
        <form class="d-flex" *ngIf="!auth.isAuthenticated()">
            <button class="btn btn-color-secundario" type="button" [routerLink]="['/login']">Login</button>
            <button class="btn btn-color-primario" type="button" [routerLink]="['/registro/empresa']">Sing Up</button>
        </form>
        <div class="btn-group"  *ngIf="auth.isAuthenticated()">
          <button type="button" class="btn btn-color-primario dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{auth.usuario.username}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button (click)="logout()" class="dropdown-item" type="button">Cerrar Sesión</button></li>
          </ul>
        </div>
      </div>
    </div>
    
  </nav>
