<h1>Mi membresía</h1>
<div *ngIf="membresiaInicial()">
    <p>{{informacionMembresiaGeneral}}</p>
</div>
<div *ngIf="membresias.length > 0">
  <h2>Lista Membresías</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Suscripción</th>
        <th>Vigencia (días)</th>
        <th>Valor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let membresia of membresias">
      <tr>
        <td>{{membresia.suscripcion}}</td>
        <td>{{membresia.diasVigencia}}</td>
        <td>{{membresia.valor}}</td>
        <td><button type="submit" class="btn btn-color-primario">Comprar</button></td>
      </tr>
    </tbody>
  </table>
</div>