<h1>Mi membresía</h1>
<div *ngIf="membresiaInicial()">
    <p>{{informacionMembresiaGeneral}}</p>
</div>
<div *ngIf="membresias.length > 0">
  <h2>Lista Membresías</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Suscripción</th>
        <th>Vigencia (días)</th>
        <th>Valor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let membresia of membresias">
      <tr>
        <td>{{membresia.suscripcion}}</td>
        <td>{{membresia.diasVigencia}}</td>
        <td>{{membresia.valor}}</td>
        <td><button type="submit" class="btn btn-color-primario" (click)="activarModalRegistroMembresia(membresia.id)">Comprar</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MODAL ENCARGADO DE REALIZAR EL REGISTRO DE LA MEMBRESIA -->
<div class="abrir-modal animacion fadeIn" *ngIf="modalRegistrarMembresia">
  <div class="modal" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h2 class="modal-title">Membresía</h2>
                  <button (click)="cerrarModalRegistroMembresia()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <div class="row">
                          <form>
                            <div class="form-group">
                              <label>Adjuntar comprobante de pago</label>
                            </div>
                            <div class="form-group">
                              <input (change)="seleccionarComprobante($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                            </div>
                            <div *ngIf="comprobantePagoValido">
                              <button type="submit" class="btn btn-color-primario" (click)="activarMembresia()">Activar membresía</button>
                          </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>