

                <button type="submit"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gestionar">
                    Agendar
                </button>
             
                  
              
              <div class="modal fade" id="gestionar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Estes es tu código</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body">
                        <h1>Gestión de solicitud</h1>

                        <div>
                            <form action="">
                                <div class="text">
                                    <h3>Justificación de respuesta</h3>
                                    <div>
                                        <textarea name="justificacion" id="justificacion" cols="60" rows="10" [(ngModel)]="solicitud.contenidoCorreoEstadoSolicitud" placeholder="Escribe tu justificación"required #actividadPincipal="ngModel"></textarea>
                                       <!--  <div class="alert alert-danger" *ngIf="justificacion.invalid && (actividadPincipal.dirty || actividadPincipal.touched)">
                                            <div *ngIf="justificacion.errors.required">
                                                Debes enviar una justificacion	
                                            </div> -->
                                          </div>
                                </div>
                    
                                    <button type="submit" style="position: absolute;top: 100%;left:50%;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gestionar">
                                        Agendar
                                      </button>
                            </form>
                            </div>
                            <div class="modal-footer">
                                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="button" onclick="location.href='https://telegram.me/ServiExpressBot';" value="Ir al chatBoot" />
                            </div>
                            </div>
                        </div>
                </div>                 
        
    </div>
