<div class="container mt-3">
    <h2>PRIMER PASO</h2>
    <h4>{{registroEmpresa}}</h4>
    <form (ngSubmit)="realizarRegistro()">
      <div class="mb-3 mt-3">
        <label for="nit">Nit:</label>
        <input type="text" class="form-control" id="nit" [(ngModel)]="empresa.nit" placeholder="Nit de la empresa" name="nit" required #nit="ngModel">
        <div class="alert alert-danger" *ngIf="nit.invalid && (nit.dirty || nit.touched)">
          <div *ngIf="nit.errors.required">
              El campo nit es requerido
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="pwd">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="empresa.nombreEmpresa" placeholder="Nombre de la empresa" name="nombre" required #nombre="ngModel">
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
              El campo nombre es requerido
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="pwd">Razón social:</label>
        <input type="text" class="form-control" id="razonSocial" [(ngModel)]="empresa.razonSocial" placeholder="Razon social" name="razonSocial" required #razonSocial="ngModel">
        <div class="alert alert-danger" *ngIf="razonSocial.invalid && (razonSocial.dirty || razonSocial.touched)">
          <div *ngIf="razonSocial.errors.required">
              El campo razón social es requerido
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="pwd">Código ciu:</label>
        <input type="text" class="form-control" id="codigoCiu"  [(ngModel)]="empresa.codigoCiu" placeholder="Código ciu" name="codigoCiu" required #codigoCiu="ngModel">
        <div class="alert alert-danger" *ngIf="codigoCiu.invalid && (codigoCiu.dirty || codigoCiu.touched)">
          <div *ngIf="codigoCiu.errors.required">
              El campo código ciu es requerido
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="pwd">Actividad principal:</label>
        <input type="text" class="form-control" id="actividadPincipal" [(ngModel)]="empresa.actividadPrincipal" placeholder="Actividad principal de la empresa" name="actividadPincipal" required #actividadPincipal="ngModel">
        <div class="alert alert-danger" *ngIf="actividadPincipal.invalid && (actividadPincipal.dirty || actividadPincipal.touched)">
          <div *ngIf="actividadPincipal.errors.required">
              El campo actividad principal es requerido
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="pwd">Tipo persona:</label>
        <input type="text" class="form-control" id="tipoPersona" [(ngModel)]="empresa.tipoPersona" placeholder="Encargado de la empresa (Natural o jurídico)" name="tipoPersona" required #tipoPersona="ngModel">
        <div class="alert alert-danger" *ngIf="tipoPersona.invalid && (tipoPersona.dirty || tipoPersona.touched)">
          <div *ngIf="tipoPersona.errors.required">
              El campo tipo persona es requerido
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="pwd">Celular:</label>
        <input type="text" class="form-control" id="celular" [(ngModel)]="empresa.celular" placeholder="Celular del representante" name="celular" required #celular="ngModel">
        <div class="alert alert-danger" *ngIf="celular.invalid && (celular.dirty || celular.touched)">
          <div *ngIf="celular.errors.required">
              El campo celular es requerido
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="pwd">Email:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="empresa.email" placeholder="Email de la empresa" name="email" required #email="ngModel">
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
              El campo email es requerido
          </div>
        </div>
      </div>
   
      <button class="btn btn-color-primario" role="button">Registrar</button>
    </form>
  </div>