<div class="container mt-3">
    <h2>FINALIZAR REGISTRO</h2>
    <h4>Seleccionar membresia </h4>
    <form>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Link 1</a></li>
              <li><a class="dropdown-item" href="#">Link 2</a></li>
              <li><a class="dropdown-item" href="#">Link 3</a></li>
              <li><a class="dropdown-item-text" href="#">Text Link</a></li>
              <li><span class="dropdown-item-text">Just Text</span></li>
            </ul>
          </div>
   
      <button class="btn btn-color-primario" role="button">Registrar</button>
    </form>
  </div>